.content-wrapper
  #map.col-sm-9
  .col-sm-3.search-results
    %header
      %h2 Search results:

      .result-count
        Found 
        %span= @requests.meta["total"]
        results

    #search-results
