# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6c502d34b0f37668cdfd066fd1ab94ec436fede27238980e47e814fc773fd646143eeb44355b40b18cd0e33cc30f232a67d1b6b3272e21164cbf98bef67a1d20
  geocoder_api_key: AIzaSyBa1wy21lyE-MoY1Hes4QYQeOrSPpaBhPM

test:
  secret_key_base: 25e25ff7c5d752d5a2937cb67e5e192c715e27f7c7de960f1743ef69df7884fcfdc5ec069756261f6c65945c7668da2e49d7745529a1e1b35911f91a28a95aea
  geocoder_api_key: AIzaSyBa1wy21lyE-MoY1Hes4QYQeOrSPpaBhPM

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  geocoder_api_key: <%= ENV["GEOCODER_API_KEY"] %>