.content-wrapper {
  text-align: center;
  font-size: 3em;
  background-color: #0d8278;
  color: #f2ede3;
  height: 100%;
  display: table;
  width: 100%;
  
  .front-content {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 100px;
  }
  
  h1 {
    font-size: 110px;
    margin-top: 0;
  }
  
  .inline-select, .inline-text {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: none;
  }
  
  ::-webkit-input-placeholder {
    color: #f2ede3;
  }
  
  .inline-button {
    margin-top: 20px;
    padding: 10px 34px;
    color: #fff;
    background-color: #b14943;
    font-family: inherit;
    font-size: 0.5em;
    font-weight: bold;
    line-height: inherit;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
  }
  
  .inline-button:hover {
    background-color: #943d38;
  }
  
  .field-toggle {
  	line-height: inherit;
    display: inline-block;
    color: #09544e;
    cursor: pointer;
    border-bottom: 1px dashed #09544e;
  }
  
  .field-toggle:hover {
    text-decoration: none;
    color: #03211f;
  }
  
  .nl-field {
    display: inline-block;
    position: relative;
  }

  .nl-field ul {
    position: absolute;
    top: 0;
    text-align: left;
    display: none;
    background-color: #76C3BD;
    color: #f2ede3;
    font-weight: 300;
    font-size: 0.8em;
    min-width: 300px;
    z-index: 10000;
  }

  .nl-field ul li {
    padding: 5px 10px;
    cursor: not-allowed;
  }

  .nl-field ul li.select-option {
    cursor: pointer;
  }

  .nl-field ul li:hover {
    background-color: #4eb1a9;
  }
  
  .nl-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: 9999;
    display: none;
    -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
    -moz-transition: visibility 0s 0.3s, opacity 0.3s;
    transition: visibility 0s 0.3s, opacity 0.3s;
  }
}
