.inbox {
  background-color: #e9ebee;
  height: 100%;
  padding-top: 30px;
  
  .inbox-container {
    height: 100%;
  }
  
  .threads {
    border-right: 3px solid #eaeaea;
    height: 100%;
    background-color: #fff;
    overflow: scroll;
    padding: 0;
    
    a:hover {
      text-decoration: none;
      
      span {
        text-decoration: underline;
      }
    }
    
    .thread-container {
      height: 50px;
      margin-top: 5px;
      margin-left: 5px;
      border-bottom: 1px solid #ececec;
      
      .thumbnail-container {
        width: 40px;
        height: 40px;
        background-size: cover;
        display: inline-block;
      }
      
      .info-container {
        width: 120px;
        display: inline-block;
        vertical-align: top;
        font-size: 1em;
        font-weight: bold;
        color: #095d57;
        
        p {
          color: #333;
          font-weight: normal;
          font-size: 0.8em;
        }
      }
    }
  }
  
  #message-show {
    background-color: #fff;
    height: 80%;
    overflow: scroll;
    padding-top: 10px;
    
    .message-container {
      height: 80px;
      margin-bottom: 10px;
      
      .thumbnail-container {
        width: 80px;
        height: 80px;
        background-size: cover;
        display: inline-block;
        margin-right: 6px;
      }
      
      .info-container {
        width: 300px;
        display: inline-block;
        vertical-align: top;
        
        h3 {
          margin-top: 0;
          margin-bottom: 5px;
          font-size: 1em;
          font-weight: bold;
          color: #095d57;
        }
      }
      
      img {
        width: 100px;
      }
    }
  }

  .self {
    text-align: right;

    .thumbnail-container {
      float: right;
      margin-left: 6px;
      margin-right: 0;
    }
  }

    
  .reply {
    height: 20%;
    background-color: #f6f7f9;
    border-top: 2px solid #eaeaea;
    padding-top: 15px;
    
    textarea {
      resize: none;
      width: 100%;
      height: 74px;
      border: 1px solid #cdcecf;
      border-bottom: 1px solid #ececec;
      outline: none;
      padding: 5px;
    }
    
    input[type=submit] {
      background-color: #fff;
      border: 0;
      border-left: 1px solid #ececec;
      height: 38px;
      padding: 0 12px;
    }
    
    .form-options {
      background-color: #fff;
      height: 40px;
      position: relative;
      top: -5px;
      border: 1px solid #cdcecf;
      border-top: 0;
    }
  }
}