.cover {
  height: 460px;
  background-size: cover;
  background-position: center;
}

.profile {
  color: #095d57;
  text-align: left;
  
  .btn {
    vertical-align: top;
  }

  p {
    font-size: 14px;
    color: #333;
  }
  
  .profile-info-wrapper {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    
    h3 {
      margin-top: 0;
      font-size: 16px;
    }
  }
  
  .profile-requests {
    font-size: 1.4em;
  }
  
  .message-button {
    display: inline;
    display: inline;
  }
  
  .profile-sidebar {
    text-align: left;
    color: #333;
    background-color: #fff;
    margin-top: 20px;
    
    h2 {
      font-size: 16px;
    }
    
    img {
      width: 100%;
      margin-top: 15px;
    }
  }
  
  .write-review {
    label {
      text-align: left;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
    }
    
    textarea {
      min-height: 100px;
    }
    
    .btn {
      vertical-align: top;
    }
    
    ::-webkit-input-placeholder {
      color: #ccc;
    }

    :-moz-placeholder { 
      color: #ccc;  
    }

    ::-moz-placeholder {
      color: #ccc;  
    }

    :-ms-input-placeholder {  
      color: #ccc;  
    }
  }
  
  .review-container {
    margin-bottom: 20px;
  }
  
  .review-body {
    padding: 5px 20px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    color: #333;
    
    h3 {
      font-style: italic;
    }
    
    h3:before {
      content: '"'
    }
    
    h3:after {
      content: '"'
    }
  }
  
  #reviews {
    img.reviewer-profile {
      width: 100%;
      border-radius: 50%;
    }
    
    .review-stars {
      width: 20px;
      margin-bottom: 10px;
    }
  }
}