#map {
  height: 100%;
}

.search-results {
  height: 100%;
  overflow: scroll;
  text-align: left;
  background-color: #fff;
  color: #333;
  
  .profile-result {
    margin-bottom: 10px;
    
    .search-result-image {
      height: 50px;
      width: 50px;
      display: inline-block;
      background-size: cover;
    }
    
    .search-result-info {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      
      span {
        font-size: 1em;
        font-weight: bold;
        color: #095d57;
      }
    }
    
    p {
      margin-bottom: 0;
    }
  }
  
  .profile-result:hover {
    span {
      text-decoration: underline;
    }
  }
  
  img {
    width: 50px;
  }
  
  a {
    color: #333;
    font-size: 14px;
  }
  
  .result-count {
    font-size: 14px;
    font-weight: bold;
  }
}